<%= form_for(@rate_watcher) do |f| %>
  <% if @rate_watcher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@rate_watcher.errors.count, "error") %> prohibited this rate_watcher from being saved:</h2>

      <ul>
      <% @rate_watcher.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :user %><br />
    <%= f.text_field :user %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
